@import '_variables';

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  background-color: $white;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: $fixedWidth;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 50px;
  font-weight: 400;
  background-color: $white;
  color: $red;
  h1 {
    font-size: 80px;
    letter-spacing: 5px;
    padding: 10vh 0 0 72px;
  }
  .bottom {
    padding-right: 165px;
    padding: 72px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    h3,
    p {
      line-height: 1.2;
      width: 80%;
    }
    h3 {
      font-size: 23px;
      margin-bottom: 30px;
    }
    p {
      font-size: 17px;
      text-align: justify;
      font-weight: 500;
    }
    nav {
      ul {
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        margin-top: 30px;
        li {
          cursor: pointer;
          margin-right: 12px;
          font-weight: 500;
          color: black;
          opacity: 0.7;
          padding-bottom: 5px;
          margin-bottom: 5px;
          border-bottom: 1px solid black;
          &:hover {
            opacity: 1;
          }
        }
      }
    }

    h6 {
      font-size: 11px;
      color: rgba($color: #000000, $alpha: 0.6);
      padding-top: 20px;
      width: 80%;
    }
  }
}

main {
  background-color: $red;
  margin-left: $fixedWidth;
  .main__header {
    padding: 70px;
    h3 {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      margin-left: $fixedWidth;
      font-size: 20px;
      font-weight: 500;
      padding: 60px 0px;
      display: flex;
      justify-content: center;
      align-content: center;
      color: $white;
      background-color: rgba($color: $red, $alpha: 0.9);
      border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
    }
  }
  .movie {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .movie__header {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-bottom: 30px;
      vertical-align: baseline;
      h4,
      h5 {
        color: $white;
      }
      h4 {
        font-size: 50px;
        font-weight: 700;
        padding-right: 1em;
        min-width: 450px;
      }
      h5 {
        font-weight: 600;
      }
    }
  }
  img {
    width: 100%;
  }
}
